<div>
  <button class="goback" onClick="history.go(-1);return true;"> Main Page </button>
</div>
<div id="container" class="cf">  
  <div id="wrapper" class="wrapper" style = "background-color: white">
      <h1 style="font-family:BentonSans; font-size: 50px">{{phone.oneLiner}}</h1>





      <div class="bg" ng-controller="GalleryController">
        <div class="mainimageshell">
          <div class="viewwindow">
            <ul id="fullscroller" class="fullsizelist" ng-style="listposition">
              <li ng-repeat="data in phone.additional">
                  <img id="fullsize" class="large" ng-src="{{data.entryImage}}"/>
              </li>
            </ul>
          </div>
        </div>

     <div class = "captionshell">
         <h2>{{selected.category}}</h2>
          <p style = "color:#000000">
             <ul>
               <li ng-repeat="entry in selected.entries" style="display:inline">
                  <p class = "wrapword"> - {{entry.text}}</p>
               </li>
            </ul>
           </p>
        </div>
      <div style="clear:both;"></div>

      <div class="thumbsshell">
          <div class="thumbswrapper">
            <ul>
              <li ng-repeat="data in phone.additional">
                <div class="thumbwrapper">
                  <a ng-href="" ng-click="scrollTo(data, $index)">
                    <img class="thumbnail2" ng-src="{{data.entryImage}}"> </img>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>

      <div class="left2">
            <h2>Mad Skills</h2><br>
              <div class="meter">
                <span style="width: {{phone.skills[0].percent}}%; padding-left:10px"><b>{{phone.skills[0].string}}</b></span>
              </div><br>
              <div class="meter">
                <span style="width: {{phone.skills[1].percent}}%; padding-left:10px"><b>{{phone.skills[1].string}}</b></span>
              </div><br>
              <div class="meter">
                <span style="width: {{phone.skills[2].percent}}%; padding-left:10px"><b>{{phone.skills[2].string}}</b></span>
              </div>

        </div>



      </div>
</div>




