<div>
      <select ng-model="orderProp" class="sort">
        <option value="name">Alphabetical</option>
        <option value="age">Age</option>
        <option value="height">Height</option>
      </select>
      <input ng-model="query" class="search">
</div>
<div id="container" class="cf" style = "height: 100%;">  
      <div class="quotes"><img src="./photos/Quotes.jpg"></div>
      <article class="span1">
        <section ng-repeat="phone in phones | filter:query | orderBy:orderProp">
          <div class="thumbnail">
         <a href="#/phones/{{phone.id}}" class="thumb">
            <img ng-src="{{'./photos/' + phone.id + '0.png'}}" 
                  onmouseover="this.src='{{'./photos/' + phone.id + '1.png'}}'" 
                  onmouseout="this.src='{{'./photos/' + phone.id + '0.png'}}'" ></a>
            <a href="#/phones/{{phone.id}}" class="oneliner">
                {{phone.oneLiner}}
            </a>
          <p>
            <font size = "4")>
              <br><br>
            <p class="essentials">
              {{phone.name}}
              <br> 
              level {{phone.age}} {{phone.title}}
            </p>
              <div id="fade" class="black_overlay"></div>

            </font>
          </p>
        </div>
        </section>
      </article>


  </div> <!--! end of #container -->

  <footer>
    
  </footer>
